.body {
    height: 100%;
    background-image: url("../assets/road.jpg");
    background-position: center;
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}